$base:   #1e1e2e;
$mantle: #181825;
$crust:  #11111b;

$text:     #cdd6f4;
$subtext0: #a6adc8;
$subtext1: #bac2de;

$surface0: #313244;
$surface1: #45475a;
$surface2: #585b70;

$overlay0: #6c7086;
$overlay1: #7f849c;
$overlay2: #9399b2;

$blue:      #89b4fa;
$lavender:  #b4befe;
$sapphire:  #74c7ec;
$sky:       #89dceb;
$teal:      #94e2d5;
$green:     #a6e3a1;
$yellow:    #f9e2af;
$peach:     #fab387;
$maroon:    #eba0ac;
$red:       #f38ba8;
$mauve:     #cba6f7;
$pink:      #f5c2e7;
$flamingo:  #f2cdcd;
$rosewater: #f5e0dc;

*:not(check):not(arrow) {
  all: unset;
  font-family: FantasqueSansMono Nerd Font;
  font-size: 12px;
}

window {
  background: transparent;
}

.workspaces {
  color: $lavender;
  background: $base;
  padding-left: 0.6rem;
  padding-right: 1rem;
  border-radius: 1rem;
  margin-left: 2px;
}
.active-window {
  color: $red;
}

.clock {
  color: $blue;
  background: $base;
  border-radius: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.audio {
  color: $pink;
  background: $base;
  border-radius: 1rem 0px 0px 1rem;
  padding-left: 0.7rem;
  padding-right: 0.5rem;
}

.network {
  color: $flamingo;
  background: $base;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.backlight {
  color: $yellow;
  background: $base;
}
.back-progress {
  background: $surface1;
}

.battery {
  color: $green;
  background: $base;
  border-radius: 0px 1rem 1rem 0px;
}
.bat-progress {
  background: $surface1;
}

.tray {
  color: $lavender;
  background: $base;
  border-radius: 1rem;
  background-size: 5px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.tray menuitem window {
  color: $lavender;
  background-color: $base;
  border-radius: 0.5rem;
}

.tray separator {
  background-color: $surface1;
}

.power {
  color: $red;
  background: $base;
  border-radius: 1rem;
  padding-left: 0.6rem;
  padding-right: 0.5rem;
  margin-right: 2px;
}

.cal {
  color: $lavender;
  background-color: $base;
  border-radius: 0.5rem;
}

scale trough {
  all: unset;
  background-color: $surface1;
  border-radius: 1rem;
  min-height: 5px;
  min-width: 50px;
}
scale trough highlight {
  all: unset;
  background-color: $pink;
  border-radius: 1rem;
}
